@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

  --first-color: white;
  --second-color: #0282F9;
  --therth-color: black;
  --fourth-color: #303030;

  --first-font: "Open Sans", sans-serif;

}

* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}



nav a {
  font-family: var(--first-font);
  text-decoration: none;
  margin: 12px;
  color: var(--therth-color);
}