@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

  --first-color: white;
  --second-color: #0282F9;
  --therth-color: black;
  --fourth-color: #303030;

  --first-font: "Open Sans", sans-serif;

  --font-weight: 700;

}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--first-font);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}



nav a {
  position: relative;
  font-family: var(--first-font);
  text-decoration: none;
  margin: 12px;
  color: var(--therth-color);
  font-weight: var(--font-weight);
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--second-color);
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -62px;
  width: 0;
  height: 8px;
  background-color: var(--second-color);
  transition: width 0.3s ease;
}



nav a:hover::after {
  width: 100%;
}

nav a.active {
  color: blue;
}

nav a.active::after {
  width: 100%;
}

.blackRettangle {
  background-color: var(--therth-color);
  padding: 50px;
}

.blackRettangle h3 {
  color: var(--first-color);
  padding-left: 120px;
  font-size: 28px;
}

.gridContainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color: var(--second-color);
  padding: 40px 164px;
  gap: 20px;
}



.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowContainer img {
  width: 44px;
  margin-right: 8px;
}

.rowContainer p {
  font-size: 14px;
}